.header {
  display: flex;
  height: 50px;
  padding: 16px;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
  max-width: 50%;
  min-width: 50%;
  font-weight: bold;
  font-size: 24px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 50%;
  min-width: 50%;
  font-size: 16px;
  button {
    border: none;
     background: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
}

.user-data {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  margin: 0 10px;
}
