<section class="header">
  <div class="header-left">
    Dashboard
  </div>
  <div class="header-right">
    <div class="user-data">
      <i class="fi fi-rr-user"></i> {{loggedUser}}
    </div>
    <div class="notifications {{showNotification}}">
      <button type="button" (click)="displayNotifications()">
        @if (showNotification != '') {
          <i class="fi fi-sr-bell"></i>
        } @else {
          <i class="fi fi-rr-bell"></i>
        }

      </button>
      <div class="notification-container">
        <div class="notifications-header">
          Notificações
        </div>
        <div class="notification"></div>
      </div>
    </div>
    <button type="button" (click)="logout()">
      <i class="fi fi-rs-exit"></i>
    </button>
  </div>
</section>
