.header {
  display: flex;
  height: 50px;
  padding: 16px 0 20px 0 ;
  justify-content: space-between;
  margin-bottom: 5%;
}
.header-left {
  display: flex;
  align-items: center;
  max-width: 50%;
  min-width: 50%;
  font-weight: bold;
  font-size: 24px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 50%;
  min-width: 50%;
  font-size: 16px;
  button {
    border: none;
     background: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
}

.user-data {
  cursor: pointer;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  min-width: 40px;
  margin: 0 10px;
  align-items: center;
  padding: 5px;
  i {
    font-size: 14px;
    align-self: flex-end;
    margin: 0 4px;

  }
}


.user-data:hover {
  color: var(--primary);
  background-color: var(--shadow);
  .i-config {
    display: block;
  }
}

.notifications {
  display: flex;
  flex-direction: column;
  .notification-container {
    display: none;
  }
}

.notifications.active {
  button {
    .fi.fi-sr-bell {
      color: var(--primary);
    }
  }
  .notification-container {
    z-index: 999999999999;
    background: var(--primary-foreground);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 75px;
    top: 5%;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 300px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
    .notifications-header {
      font-weight: bold;
      padding: 8px 16px;
      color: var(--primary-foreground);
      background: var(--primary);
      border-radius: 7px 7px 0 0;

    }
    .notification {
      padding:20px 16px;
      border-top: 1px  solid #000000;
    }
  }
}
.avatar {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50% at 50% 50%);
  img {
    height: 100%;
  }
}
.i-config {
  justify-self: center !important;
  align-self: center !important;
  display: none;
}
.bell {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bell:hover {
  border-radius: 24px;
  background: var(--shadow) !important;
  i {
    color: var(--primary);
  }
}
.notify-count {
  font-size:12px;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin-right: -15px;
  top: 5px;
  font-weight: bold;
  background: var(--primary);
  padding: 3px;
  color: var(--primary-foreground);
  border-radius: 20px;
}
