table {
  width: 100%;
}
.d-actions,
#h-actions {
  text-align: center;
  width: 200px;
}
.d-name,
#h-name {
  text-align: left;
}
tr {
  height: 40px;
  th {
    border-bottom: 2px solid #CDC9C9;
  }
  td {
    border-bottom: 1px solid #CDC9C9;
  }
}

