.discipline-container {
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  border-radius: 8px;
  padding: 10px;
}
.discipline-line,
.discipline-header {
  display: flex;
  width: 100%;
  color: #000000;
  font-weight: bolder;
  border-bottom: 1px solid #808080;
  padding: 10px 0;
  justify-content: space-between;
}

.remove-discipline {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 15px;
}

.discipline-line {
  font-weight: normal;
}
.discipline-line.no-results {
  text-align: center;
  justify-content: center;
  border-bottom: none;
}


