.user-content {
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  padding: 0 50px;
  background: var(--primary-foreground);
  border-radius: 16px ;
  overflow: scroll;
  border: 2px solid #CDC9C9;
  scrollbar-color: var(--shadow) transparent;
  .content-header {
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
    position: sticky;
    background: #FFFFFF;
    top: 0;
  }
}

.avatar-container {
  flex: 0 0 200px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
}
.avatar-cover {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  i {
    display: none;
  }
}

.avatar-cover:hover {
  background: #000000;
  font-size: 30px;
  opacity: 0.4;

  i {
    display: block;
  }
}

.form-container {
  * {
    margin: 4px 0;
  }
  min-height: 100%;
  padding:  10px 30px;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.form-bottom {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
