.user-content {
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  padding: 10% 10% 0;
  background: var(--primary-foreground);
  border-radius: 16px ;
  overflow: scroll;
  border: 2px solid #CDC9C9;
  scrollbar-color: var(--shadow) transparent;
  .content-header {
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
    position: sticky;
    background: #FFFFFF;
    top: 0;
  }
}

.avatar-container {
  flex: 0 0 200px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
}
.avatar-cover {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  i {
    display: none;
  }
}

.avatar-cover:hover {
  font-size: 30px;
  backdrop-filter: blur(5px) opacity(0.7) drop-shadow(4px 4px 10px black);
  i {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 20px;
    background: var(--primary);
    padding: 16px;
    border-radius: 50%;
  }
}

.form-container {
  * {
    margin: 4px 0;
  }
  min-height: 100%;
  padding:  10px 30px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.form-bottom {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.upload {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  border-radius: 50%;
}

#gravatar-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 170px;
  align-items: center;
  justify-self: center;
  #gravatar-check {
    padding: 5px;
    color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  #gravatar-check.checked {
    background-color: var(--primary);
    padding: 5px;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}
#gravatar-btn:hover {
  background: #eeeeee;
  border-radius: 50px;
  #gravatar-check {
    color: #000000;
  }
}

.form-column {
  padding: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;

}

form {
  display: contents;
}
