.user-content {
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
  background: var(--primary-foreground);
  border-radius: 16px ;
  overflow: auto;
  border: 2px solid #CDC9C9;
  scrollbar-color: var(--shadow) transparent;
  .content-header {
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
    position: sticky;
    background: #FFFFFF;
    top: 0;
  }
}
