select2:not(.ignore) {
  width: 100%;
  display: flex;
}

.question-list {
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 8px;
}

.no-questions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.question-item,
.quetion-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0;
  * {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
  }
  .header-label:last-of-type {
    justify-content: flex-end;
  }
}
.header-label {
  font-weight: bolder!important;
}

.question-item {
  div:last-of-type {
    justify-content: flex-end;
  }
  div {
    button {
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      font-size: 20px;
      color: red;
      cursor: pointer;
      i {
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: none;
      }
    }
  }
}
