<div class="wrapper">
  <form [formGroup]="form">
    <div class="form-group">
      <label>Nome</label>
      <input class="form-input" formControlName="name">
    </div>
    <div class="form-group">
      <label>Enunciado</label>
      <app-libras-action
        (onVideoAprove)="onAddVideoQuestionTitle($event)"
        [fieldId]="`${tileField}`"
        [mediaLink]="tileFieldMedia"
        [type]="'record'"></app-libras-action>
      <input class="form-input" formControlName="title">
    </div>
    <fieldset>
      <legend>Alternativas</legend>
      <div class="options">
        <div class="options-header">
          <div>Texto</div>
          <div></div>
          <button class="secondary-button thin small" (click)="addOption()">
            <i class="fi fi-br-plus-small"></i> Opção
          </button>
        </div>
        <div class="options-body">
          @if (!formAnswers.controls.length) {
            <div class=" option-item no-options">Nenhuma opção disponível </div>
          } @else {
            @if (form && form.get('answers')) {
            @for (option of formAnswers.controls; track formAnswers.controls.indexOf(option); let index = $index) {
            <div class="option-item">
              <div>
                <input
                  type="text"
                  class="form-input"
                  (input)="setQuestionTitle(index, $event)"
                  [value]="formAnswers.value[index].title"
                >
                <app-libras-action
                  [fieldId]=""
                  [type]="'record'"></app-libras-action>
              </div>
              <div>
                <input type="checkbox"
                       (click)="checkAsAnswer(index, $event)"
                       class="answer"
                       [checked]="formAnswers.value[index].isAnswer"
                       [disabled]="formAnswers.controls[index].disabled"
                > Resposta correta
              </div>
              <div class="remove-option">
                <button (click)="removeOption(index)">
                  <i class="fi fi-rr-cross-circle"></i>
                </button>
              </div>
            </div>
            }
            }
          }
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <label>Informações adicionais</label>
      <app-libras-action
        [fieldId]="`${moreField}`"
        [mediaLink]="supportFieldMedia"
        (onVideoAprove)="onAddVideoSupport($event)"
        [type]="'player'"></app-libras-action>
    </div>
    <app-text-editor
      (onInputValue)="onInputText($event)"
      [defaultText]="default_support"
    ></app-text-editor>
    <fieldset>
      <legend>Imagens de apoio</legend>
      <div class="gallery">
        @for (image of galleryList; track image.id; let  index = $index) {
          <div class="image-container" [style.background-image]="'url(' + image.link + ')'">
            <button class="remove-image" (click)="removeImage(index)">
              <i class="fi fi-rr-trash"></i>
            </button>
          </div>
        }
        <span class="add-image">
            <input type="file" class="add-file" (change)="addImage($event)">
        </span>
      </div>
    </fieldset>
    <div class="form-group">
      <button type="button" class="primary-button save" (click)="onSubmit()">
        Salvar
      </button>
    </div>
  </form>
</div>
