fieldset {
  display: flex;
  width: 100%;
}
.gallery {
  display: grid;
  align-items: center;
  grid-template-columns: 25% 26% 25% 25%;
  gap: 20px;
  width: 100%;
  border: 1px solid #000000;
  padding: 10px;
  min-height: 100px;
  border-radius: 8px;
  * {
    margin: 0 4px;
  }
}

.add-image {
  display: flex;
  width: 200px;
  top: 0;
  height: 110px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #CDC9C9;
  border: 1px solid #000000;
  cursor: pointer;
  flex-direction: column;
}
.add-image:before {
  content: "+";
  position: relative;
  top: 30px;
}
.add-file {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  top: -18px;
}

.image-container {
  display: flex;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #000000;
  background-size: 200px 100px;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;

  .remove-image {
    display: flex;
    width: 40px;
    height:40px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    color: white;
    align-self: flex-end;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    i {

      display: flex;
    }
  }
}

.options {
  display: flex;
  width: 100%;
  min-height: 40px;
  border: 1px solid #000000;
  padding: 10px;
  flex-direction: column;
  border-radius: 8px;
}
.options-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  padding: 10px 5px;
  border-bottom: 2px solid #000000;

  * {
    margin: 0 8px;
  }
  div {
    width: 100%;
  }
  button {
    i {
      margin: 0;
    }
  }
}

.option-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #000000;
  div {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 4px
  }
}

.no-options {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.remove-option {
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
    padding: 5px;
    background: none;
    border: none;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
    i {
      display: flex;
    }
  }
}
.option-item:last-child {
  border-bottom: none;
}

.answer {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.answer[disabled] {
  cursor: not-allowed;
}
.tag-area {
  display: flex;
  flex-direction: column;

  .tag-input {
    width: 100%;
    align-self: flex-end;
    display: flex;
    .form-input {
      border-radius: 8px 0 0 8px !important;
      border-right: none !important;
    }
    button {
      width: 50px;
      background: transparent;
      border: 1px solid #000000;
      border-left: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      border-radius: 0 8px 8px 0 ;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    button:hover {
      background: var(--primary);
      color: #fff;
      border-color: var(--primary);
    }

    .form-input:focus,
    .form-input:focus-visible,
    .form-input:active {
      outline: none;
      border: 1px solid #000000 !important;
      border-right: none !important;
    }
  }
}
.tag-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 40px;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 8px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 5px;
  color: #FFFFFF;
  border-radius: 36px;
  margin: 2px;
  span {
    margin-left: 10px;
    cursor: pointer;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.editor-wapper {
  display: flex;
  width: 100%;
}
