<section class="brand">
  <h1>
    Cadastre-se
  </h1>
</section>
<section class="form-wrapper">
  <form [formGroup]="formGroup">
    <div class="form-group inline">
      <input class="form-input" placeholder="Login" formControlName="username">
      <input class="form-input" placeholder="Nome Completo" formControlName="name">
    </div>
    <div class="form-group inline">
      <div class="input-group">
        <input class="form-input" placeholder="Senha" type="password" formControlName="password" (input)="checkPassStrength() ">
        <div class="pass-strength {{showStrength}}">
          <div class="strength {{passStatus}}" style="width: {{strength}}"></div>
        </div>
      </div>
      <input class="form-input" placeholder="Confirme sua senha" type="password" formControlName="confirmPassword">
    </div>
    <div class="form-group inline">
      <input
        type="text"
        placeholder="Data de nascimento"
        onfocus="this.type='date'"
        onblur="if (!this.value) this.type='text'"
        class="form-input"
        formControlName="birthday">
      <input class="form-input" placeholder="Email" type="email" formControlName="email">
    </div>
    <div class="form-group">
      <select2 formControlName="institute" style="width: 96%; margin: 0 10px" [data]="institutes" [value]="selectedInstitute" (update)="onInstituteUpdate($event)"
               placeholder="Selecione a instituição"></select2>
    </div>
    <div class="form-group">
      <button type="button" class="secondary-button medium" (click)="onSubmit()">ENVIAR</button>
    </div>
  </form>
</section>
