
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    color: #000000;
    font-size: 45px;
    margin-bottom: 40px;
  }
  img {
    width: 150px;
  }

  * {
    margin: 8px 0;
    font-weight: bold;
    color: var(--secundary);
  }
}
input {
  align-self: center;
  width: 50% !important;
}
button {
  align-self: center;
}
.forgot {
  width: 75%;
  align-self: center;
  font-size: 12px;
  a {
    text-decoration: none;
    color: var(--secundary);
    font-weight: bold;
    margin-left: 4px;
    cursor: pointer;
  }
}
