
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    color: #000000;
    font-size: 45px;
    margin-bottom: 40px;
  }
  img {
    width: 150px;
  }

  * {
    margin: 8px 0;
    font-weight: bold;
    color: var(--secundary);
  }
}
input {
  align-self: center;
  width: 50% !important;
}
button {
  align-self: center;
}
.forgot {
  width: 75%;
  align-self: center;
  font-size: 12px;
  a {
    text-decoration: none;
    color: var(--secundary);
    font-weight: bold;
    margin-left: 4px;
    cursor: pointer;
  }
}

.input-group {
  margin:  0 8px;
  display: flex;
  width: 50%;
  flex-direction: column;
  .form-input {
    width: 100% !important;
    display: flex;
    justify-self: flex-start;
  }
}

.pass-strength.show {
  display: flex;
  width: 100%;
  height: 10px;
  background: var(--shadow);
  margin-top: 8px;
  border-radius: 10px;
  border: 1px solid var(--shadow);
  .strength {
    display: flex;
    height: 100%;
    border-radius: 24px;
  }



  .strength.weak {
    background: var(--error);
  }
  .strength.moderate {
    background: var(--warning);
  }
  .strength.strong {
    background: var(--success);
  }
}

#username-error {
  font-size: 12px;
  margin-bottom: 5px;
  opacity: 0.7;
  color: red;
  display: flex;
  align-items: center;

  i {
    margin-top: 2px;
    margin-right: 2px;
  }
}
