<div class="container-fluid">
  <div class="exam-header">
    <div class="controls" (click)="backToSystem()">
      <i class="fi fi-bs-arrow-left"></i> Sinaliza Prova
    </div>
    <div class="exam-title">
      {{exam.title.toUpperCase()}} ( {{exam.discipline.name.toUpperCase()}} )
    </div>
  </div>
  <div class="exam-content">
      <div class="video-wrapper exam-wrapper"></div>
      <div class="options-wrapper exam-wrapper">
        <div class="question-title-wrapper">
          {{activeQuestionTitle}}
        </div>
        <div class="question-help-wrapper">
          {{activeQuestionSupportText}}
        </div>
        <div class="question-options-wrapper">
          @for (option of optionList; track option.id) {
            <div class="alternative-wrapper">
              <input type="radio" name="answer">
              {{option.title}}
            </div>
          }
        </div>
        <div class="question-footer">
          <button>Reponder</button>
        </div>
      </div>
      <div class="answer-wrapper exam-wrapper">
        <div class="question-count">
          1/{{questions.length}} Questões
        </div>
        <div class="question-list">
          @for (question of questions; track question.id; let index = $index) {
            <div class="question-wrapper">
              <span class="question-finish">
  <!--              <i class="fi fi-br-check"></i>-->
              </span>
              <span class="question-name">{{question.name}}</span>
            </div>
          }
        </div>
        <div class="finish">
          <button>Finalizar</button>
        </div>
      </div>
  </div>
</div>
