<div class="container-fluid">
  <div class="exam-header">
    <div class="controls" (click)="backToSystem()">
      <i class="fi fi-bs-arrow-left"></i> Sinaliza Prova
    </div>
    <div class="exam-title">
      {{exam.title.toUpperCase()}} ( {{exam.discipline.name.toUpperCase()}} )
    </div>
  </div>
  <div class="exam-content">
      <div class="video-wrapper exam-wrapper">
        @if (video) {
          <video src="{{video}}" controls muted></video>
        } @else {
          <span class="no-video"></span>
        }
      </div>
      <div class="options-wrapper exam-wrapper">
        <div class="question-title-wrapper">
          <span class="add-libras" (click)="playVideo(fieldTitleId)">
              <button [style.background-image]="'url(' + './assets/libras-sign.svg' + ')'"></button>
          </span>
          {{activeQuestionTitle}}
        </div>
        <div class="question-help-wrapper" >
          <span class="add-libras" (click)="playVideo(fieldSupportId)">
              <button [style.background-image]="'url(' + './assets/libras-sign.svg' + ')'"></button>
          </span>
          <span class="complement-image" [innerHTML]="activeQuestionSupportText"></span>
        </div>
        @if (activeQuestion.media) {
          <div class="images-wrapper">
            @for (image of activeQuestion.media; track image.id) {
              <img src="{{image.link}}">
            }
          </div>
        }
        <div class="question-options-wrapper">
          @for (option of optionList; track option.id) {
            <div class="alternative-wrapper">
              <span class="add-libras" (click)="playVideo(option.id, true)">
                <button [style.background-image]="'url(' + './assets/libras-sign.svg' + ')'"></button>
              </span>
              <input type="radio" name="answer">
              {{option.title}}
            </div>
          }
        </div>
        <div class="question-footer">
          <button (click)="respond(activeQuestion)">Reponder</button>
        </div>
      </div>
      <div class="answer-wrapper exam-wrapper">
        <div class="question-count">
          {{currentQuestion}}/{{questions.length}} Questões
        </div>
        <div class="question-list">
          @for (question of questions; track question.id; let index = $index) {
            <div class="question-wrapper" (click)="changeQuestion(index)">
              <span class="question-finish">
                @if (isAnswered(index)) {
                  <i class="fi fi-br-check"></i>
                }
              </span>
              <span class="question-name">{{question.name}}</span>
            </div>
          }
        </div>
        <div class="finish">
          <button (click)="backToSystem()">Finalizar</button>
        </div>
      </div>
  </div>
</div>
