<div class="container-fluid">
  <div class="exam-header">
    <div class="controls">
      <i class="fi fi-bs-arrow-left"></i> Sinaliza Prova
    </div>
    <div class="exam-title">
      Teste
    </div>
  </div>
  <div class="exam-content">
      <div class="video-wrapper exam-wrapper"></div>
      <div class="options-wrapper exam-wrapper">
        <div class="question-title-wrapper"></div>
        <div class="question-help-wrapper"></div>
        <div class="question-options-wrapper">
          <div class="alternative-wrapper">a</div>
          <div class="alternative-wrapper">a</div>
          <div class="alternative-wrapper">a</div>
          <div class="alternative-wrapper">a</div>
          <div class="alternative-wrapper">a</div>
        </div>
        <div class="question-footer">
          <button>Reponder</button>
        </div>
      </div>
      <div class="answer-wrapper exam-wrapper">
        <div class="question-count">
          1/10 Questões
        </div>
        <div class="question-list">
          <div class="question-wrapper">
          <span class="question-finish">
            <i class="fi fi-br-check"></i>
          </span>
            <span class="question-name">Testes</span>
          </div>
        </div>
        <div class="finish">
          <button>Finalizar</button>
        </div>
      </div>
  </div>
</div>
