.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
  background: var(--primary-foreground);
  border-radius: 16px 10px 0 0;
  border: 2px solid #CDC9C9;
  .content-header {
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
  }
}
