<div class="page-content">
    <div class="wellcome">
      <app-carrousel></app-carrousel>
    </div>
    <div class="form-wrapper">
        <div class="navbar">
            <div class="actions-containner">
                <a class="action" routerLink="login" routerLinkActive="active">Entrar</a>
                <a class="action" routerLink="register" routerLinkActive="active">Primeiro acesso do aluno</a>
            </div>
        </div>
        <div class="form-containner">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
