<section class="brand">
  <img src="./assets/logo.png" alt="logo">
  <span>Sinaliza Prova</span>
</section>
<section class="form-wrapper">
  <form>
    <div class="form-group">
      <input class="form-input" placeholder="Login">
    </div>
    <div class="form-group">
      <input class="form-input" placeholder="Senha" type="password">
    </div>
    <div class=" forgot form-group inline f-end">
      Esqueceu sua senha? <a routerLink="../forgot">Clique aqui</a>
    </div>
    <div class="form-group">
      <button type="button" class="secondary-button medium" (click)="onSubmit()">ENTRAR</button>
    </div>
  </form>
</section>
