.table-ementa {
  width: 100%;
  height: 100%;
  background: #D9D9D9;
  * {
    color: #000000;
  }
  padding: 10px;
  border-radius: 8px;
  border-collapse: collapse;
  thead {
    tr {
      th {
        padding: 10px;
        font-weight: bold;
        text-align: left;
        border-radius: 10px;
      }
      th.alg-right {
        border-left: none;
        text-align: right;
        font-size: 30px;
      }
      th.alg-left {
        text-align: left;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        border-right: none;
      }
      td.alg-right {
        border-left: none;
        text-align: right;
        font-size: 30px;
      }
      td.alg-left {
        text-align: left;
      }
    }
  }
}
.remove-menu {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red !important;
  width: 100%;
  cursor: pointer;
}

.curriculum-wrapper {
  border: 1px solid #000000;
  min-height: 100px;
  border-radius: 8px;
  padding: 10px;
}

.curriculum-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.no-curriculum {
  display: flex;
  width: 100%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
