<div class="wrapper">
  <form class="checkout-form" [formGroup]="form">
    <div class="form-group">
      <label>Nome</label>
      <input class="form-input" formControlName="name">
    </div>
    <fieldset>
      <legend>Ementa</legend>
      <table class="table-ementa">
        <thead>
          <tr>
            <th colspan="2">Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="alg-left">aa</td>
            <td class="alg-right" [style.width.%]="5">
              <button class="remove-menu" type="button">
                <i class="fi fi-rs-circle-xmark"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <div class="form-group">
      <button type="button" class="primary-button save" (click)="onSubmit()">
        Salvar
      </button>
    </div>
  </form>
</div>
