<div class="wrapper">
  <form class="checkout-form" [formGroup]="form">
    <div class="form-group">
      <label>Nome</label>
      <input class="form-input" formControlName="name">
    </div>
    <fieldset>
      <legend>
        Ementa
        <button class="secondary-button small thin" (click)="openRegisterModal(modalCurriculum)">
          <i class="fi fi-br-plus-small"></i> Ementa
        </button>
      </legend>
      <div class="curriculum-wrapper">
        <div class="curriculum-heading">
            <div>Nome</div>
            <div>Peso</div>
            <div>
              &nbsp;
            </div>
        </div>
        <div class="curriculum-body">
          @if (curriculumList.length) {
            @for (curriculum of curriculumList ; track curriculum.id) {
              <div class="curriculum-element">
                <div>{{curriculum.name}}</div>
                <div>{{curriculum.weight}}</div>
                <div>
                  <button class="remove-curriculum">
                    <i class="fi fi-rr-cross-circle"></i>
                  </button>
                </div>
              </div>
            }
          } @else {
            <div class="no-curriculum">
                Nenhum item cadastrado
            </div>
          }
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <button type="button" class="primary-button save" (click)="onSubmit()">
        Salvar
      </button>
    </div>
  </form>
</div>

<ng-template #modalCurriculum></ng-template>
