.carrousel {
  display: flex;
  width: 100%;
  height:100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: #FFFFFF;
}

.image-container  {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
  min-height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  word-wrap: break-word;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
