.data-table {
  width: 100%;
}
th,td  {
  text-align: left;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

th,td {
  padding: 10px;
}
th {
   border-bottom: 2px solid #CDC9C9;
}
td {
  border-bottom: 1px solid #CDC9C9;
}
.line:last-child {
  td {
    border-bottom: none;
  }
}

i {
  font-size: 25px;
}
