.cropper-wrapper {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: center;
}
.cropper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  margin-right: 10px;
}
.no-image {
  display: flex;
  width: 100%;
  height: 150px;
  border: 2px dashed gray;
  border-radius: 16px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  i {
    font-size: 50px;
  }
}
#addImage {
  position: absolute;
  background: transparent;
  opacity: 0;
  width: 91%;
  height: 61%;
  cursor: pointer;
  border-radius: 16px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px dashed gray;
  border-radius: 50%;
  img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }

}

image-cropper {
  max-height: 600px;
}
.mod-header {
  padding: 5px 20px;
  justify-content: flex-end;
  display: flex;
  width: 100%;
}
