.list-container {
  background: #fff;
  height: 600px;
  padding: 20px;
  border-radius: 16px;
  border: 2px solid #CDC9C9;
}

.actions {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
