<div class="navbar">
  <section class="nav-header">
    <i class="bi bi-list"></i> Sinaliza prova
  </section>
  <section class="nav-menu">
      <div class="nav-item" routerLinkActive="active" routerLink="../system/dashboard">
        <i class="fi fi-rr-apps"></i> Dashboard
      </div>
      <div class="nav-item">
        <i class="fi fi-rr-users"></i> Alunos
      </div>
      <div class="nav-item">
        <i class="fi fi-rr-users"></i> Profissionais
      </div>
      <div class="nav-item">
        <i class="fi fi-rr-graduation-cap"></i> Profissionais
      </div>
      <div class="nav-item">
        <i class="fi fi-rr-user-graduate"></i> Turmas
      </div>
    <div class="nav-item">
      <i class="fi fi-rr-to-do"></i> Questões
    </div>
  </section>
</div>
