.navbar {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--primary);
  margin-right: 10px;
  padding: 20px 16px;
  flex-direction: column;
  *  {
    color: var(--primary-foreground);
  }
}
.nav-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  height: 5%;
  align-items: center;

  i {
    font-size: 28px;
    font-weight: 100;
    margin-right: 8px;
  }
}
.nav-menu {
  display: flex;
  width: 100%;
  min-height: 90%;
  flex-direction: column;
  .nav-item {
    display: flex;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin:  2px 0;
    align-items: center;
    font-size: 20px;
    padding: 0 8px;
    padding-top: 5px;
    i {
      font-size: 25px;
      margin-right: 8px;
    }
    p {
      color: var(--primary-foreground);
    }
  }
  .nav-item.active {
    background: var(--primary-foreground);
    color: var(--primary);
    p {
      color: var(--primary);
    }
    i {
      color: var(--primary);
    }
  }
}
.collapse-control {
  cursor: pointer;
}
storage-container {
  justify-self: flex-end;
  display: flex;
  width: 100%;
  align-self: flex-end;
  flex-direction: column;


}
.storage-title {
  font-size: 10px !important;
  font-weight: bold;
}
.storage {
  height: 15px;
  margin-top: 5px;
  background-color: var(--shadow);
  border-radius: 24px;
  border: 2px solid var(--shadow);
  display: flex;
  align-items: center;
  font-size: 10px;

  .storage-total {
    background: var(--primary);
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius:24px;
    font-weight: bold;
  }

}
