.navbar {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--primary);
  margin-right: 10px;
  padding: 20px 16px;
  flex-direction: column;
  *  {
    color: var(--primary-foreground);
  }
}
.nav-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 28px;
    font-weight: 100;
    margin-right: 8px;
  }
  span {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }
  span.collapse-btn {
    background: #FFFFFF;
    height: 30px;
    width:30px;
    position: relative;
    border: 2px solid var(--primary);
    font-size: 10px;
    border-radius: 50px;
    cursor: pointer;
    * {
      font-size: 15px;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      text-align: center;
       color: var(--primary) !important;
     }
  }
  span.collapse-btn.collapse-off {
    right: -30px;
  }
  span.collapse-btn.collapse-on{
    right: -40px;
  }

}
.nav-menu {
  display: flex;
  width: 100%;
  min-height: 90%;
  flex-direction: column;
  .nav-item {
    display: flex;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin:  2px 0;
    align-items: center;
    font-size: 20px;
    padding: 0 8px;
    padding-top: 5px;
    i {
      font-size: 25px;
      margin-right: 8px;
    }
    p {
      color: var(--primary-foreground);
    }
  }
  .nav-item.active {
    background: var(--primary-foreground);
    color: var(--primary);
    p {
      color: var(--primary);
    }
    i {
      color: var(--primary);
    }
  }
}
.collapse-control {
  cursor: pointer;
}
storage-container {
  justify-self: flex-end;
  display: flex;
  width: 100%;
  align-self: flex-end;
  flex-direction: column;


}
.storage-title {
  font-size: 10px !important;
  font-weight: bold;
}
.storage {
  height: 20px;
  background-color: var(--shadow);
  border-radius: 8px;
  border: 2px solid var(--shadow);
  display: flex;
  align-items: center;
  font-size: 10px;

  .storage-total {
    background: var(--primary);
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius:8px;
    font-weight: bold;
  }
}

.collapse {
  position: fixed;
  left: 13.5%;
  height: 25px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 25px;
  top: 40px;
  cursor: pointer;
  justify-content: center !important;
  align-items: center !important;
  color: var(--primary) !important;
  text-align: center;
  i {
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--primary);
    text-align: center;
    font-size: 15px !important;
  }
}
