<section class="navbar">
  <section class="nav-header">
    <i class="fi fi-br-menu-burger collapse-control" (click)="collapse()"></i>
    @if (!isCollapsed) {
      <span>Sinaliza Prova</span>
    }
  </section>
  <section class="nav-menu">
    <div class="nav-item" routerLinkActive="active" routerLink="../system/dashboard">
      <i class="fi fi-rs-chalkboard"></i>
      @if (!isCollapsed) {
        <p>Mural</p>
      }
    </div>
    <div class="nav-item" routerLinkActive="active" routerLink="../system/students">
      <i class="fi fi-rr-student"></i>
      @if (!isCollapsed) {
        <p>Alunos</p>
      }
    </div>
    <div class="nav-item" routerLinkActive="active" routerLink="../system/institute">
      <i class="fi fi-rs-house-building"></i>
      @if (!isCollapsed) {
        <p>Instituição</p>
      }
    </div>
<!--    <div class="nav-item">-->
<!--      <i class="fi fi-rr-users"></i>-->
<!--      @if (!isCollapsed) {-->
<!--        <p>Profissionais</p>-->
<!--      }-->
<!--    </div>-->
    <div class="nav-item" routerLinkActive="active" routerLink="../system/exam">
      <i class="fi fi-rr-memo-circle-check"></i>
      @if (!isCollapsed) {
        <p>Provas</p>
      }
    </div>
    <div class="nav-item" routerLinkActive="active" routerLink="../system/discipline">
      <i class="fi fi-rs-e-learning"></i>
      @if (!isCollapsed) {
        <p>Disciplinas</p>
      }

    </div>
    <div class="nav-item" routerLinkActive="active" routerLink="../system/room">
      <i class="fi fi-br-users-class"></i>
      @if (!isCollapsed) {
        <p>Turmas</p>
      }
    </div>
    <div class="nav-item" routerLinkActive="active" routerLink="../system/question">
      <i class="fi fi-rr-to-do"></i>
      @if (!isCollapsed) {
        <p>Questões</p>
      }
    </div>
  </section>
  @if (!isCollapsed) {
<!--    <section class="storage-container">-->
<!--      <div class="storage-title">Armazenamanto ultilizado</div>-->
<!--      <div class="storage">-->
<!--        <div class="storage-total">-->
<!--          10%-->
<!--        </div>-->
<!--      </div>-->
<!--    </section> -->
  }
</section>


