<div class="overlay">
  <div class="dialog">
    <div class="dialog-header">
      <p>Ementa</p>
      <button class="dialog-close" (click)="onClose()">
        <i class="fi fi-rs-circle-xmark"></i>
      </button>
    </div>
    <div class="dialog-content">
      <form>
        <div class="form-group">
          <label>Nome</label>
          <input class="form-input">
        </div>
        <div class="form-group">
          <label>Peso</label>
          <input type="number" min="0" class="form-input">
        </div>
        <div class="form-group">
          <button type="button" class="secondary-button large">
            Adicionar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
