/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
:root {
    --primary: #000080;
    --secundary: #0070ff;
    --secundary-hover: #015fda;
    --background: #E6E6E6;
    --primary-foreground: #FFFFFF;
    --secundary-foreground: #FFFFFF;
    --default-input: #3C3C3C;
    --shadow: #D4D4D4;
    --warning: #FFC300;
    --success: #00FF62;
    --error: #FF0000;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px 4px;
  select {
    margin: 0 8px;
    width: 100%;
  }
  .select2-selection,
  .textarea,
  .form-input {
    background: var(--primary-foreground);
    height: 40px !important;
    width: 100%;
    border-radius: 8px !important;
    border: 1px solid var(--default-input) !important;
    padding: 0 15px;
    color: var(--default-input);
    font-size: 16px;
  }
}
.textarea {
  padding: 10px !important;
  min-height: 200px !important;
}
label {
  font-size: 15px;
}
.form-input:disabled {
  background: #dfdfdf;
  cursor: not-allowed;
  color: #959595;
}
.form-group.inline {
  flex-direction: row;
  input,select {
    margin: 0 8px;
  }
}
app-register,
app-verify-email,
app-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.primary-button,
.secondary-button
{
  height: 40px;
  width: 30%;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.secondary-button:hover
{
  background: var(--secundary-hover);
}
.primary-button:hover {

}
.primary-button.medium,
.secondary-button.medium
{
  width: 50%;
}

.primary-button.small,
.secondary-button.small

{
  width: auto;
}
.primary-button.large,
.secondary-button.large
{
  width: 100%;
}
.primary-button {
  color: var(--primary-foreground) ;
  background: var(--primary);
}
.secondary-button {
  color: var(--secundary-foreground) ;
  background: var(--secundary);
}

.secondary-button.thin {
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    display: flex;
    align-self: center;
  }
}
.f-end {
  justify-content: flex-end;
}

select {
  background: transparent;
}

app-dashboard {
  display: flex;
  height:100%;
  overflow: hidden;
}
.swal2-confirm  {
  background: var(--primary);
}

.select2-selection {
  padding: 5px !important;
}
.btn-edit {
  border: none;
  width: 50px;
  padding: 5px;
  border-radius: 8px  0 0 8px;
  color: #015fda;
  background: #E7E7E7;
  cursor: pointer;
  margin-left: 5px;
}
.btn-remove {
  border: none;
  width: 50px;
  padding: 5px;
  border-radius: 0 8px 8px 0;
  color: red;
  background: #E7E7E7;
  cursor: pointer;
  margin-left: 5px;
}
.btn-remove:hover,
.btn-edit:hover {
  background: #CDC9C9;
}
.select2-search {
  margin-top: -5px !important;
  input {
    height: 40px !important;
    border-color: #000000 !important;
    border-radius:8px !important; ;
  }
}
.select2-dropdown {
  border: 1px solid #000000 !important;
  margin-top: -5px !important;
  border-top: 1px solid #FFFFFF !important;
  padding-top: 10px !important;
  border-radius: 0 0  8px 8px!important;
}
.wrapper,
.table-wrapper {
  display: flex;
  width: 100%;
  height: 75vh;
  background: #FFFFFF;
  border: 2px solid #CDC9C9;
  padding: 10px;
  border-radius: 8px;
  align-items: flex-start;
  overflow: auto;
  flex-direction: column;
}

.checkout-form {
  width: 100%;
}
fieldset {
  border: none !important;
  margin-top: 50px;

  legend {
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.save {
  width: 100px;
  align-self: flex-end;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.form-group.f-5 {
  width: 50%;
}

.form-row {
  display: flex;
}
.overlay {
  position: absolute;
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-start;
  z-index: 9999999999999999999;
}
.dialog-close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dialog {
  background: #FFFFFF;
  padding: 20px;
  width: 50%;
  border-radius: 15px;
}
.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 26px;
  p {
    margin: 0;
  }
}
.dialog-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.form-row {
  align-items: center;
  label {
    font-size: 14px;
    margin-right: 16px;
  }
  input[type=radio] {
    width: auto !important;
  }
}
.swal2-container {
  z-index: 9999999999999999999999999999999999999;
}
.select2-selection,
.textarea,
.form-input {
  background: var(--primary-foreground);
  height: 40px !important;
  width: 100%;
  border-radius: 8px !important;
  border: 1px solid var(--default-input) !important;
  padding: 0 15px;
  color: var(--default-input);
  font-size: 16px;
}
fieldset,
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
