/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: #000080;
    --secundary: #0070FF;
    --background: #E6E6E6;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}