/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
:root {
    --primary: #000080;
    --secundary: #0070ff;
    --secundary-hover: #015fda;
    --background: #E6E6E6;
    --primary-foreground: #FFFFFF;
    --secundary-foreground: #FFFFFF;
    --default-input: #3C3C3C;
    --shadow: #D4D4D4;
    --warning: #FFC300;
    --success: #00FF62;
    --error: #FF0000;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  select {
    margin: 0 8px;
    width: 100%;
  }
  .form-input {
    background: var(--primary-foreground);
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--default-input);
    padding: 0 15px;
    color: var(--default-input);
    font-size: 16px;
  }
}
label {
  font-size: 15px;
}
.form-input:disabled {
  background: #dfdfdf;
  cursor: not-allowed;
  color: #959595;
}
.form-group.inline {
  flex-direction: row;
  input,select {
    margin: 0 8px;
  }
}
app-register,
app-verify-email,
app-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.primary-button,
.secondary-button
{
  height: 40px;
  width: 30%;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.secondary-button:hover
{
  background: var(--secundary-hover);
}
.primary-button:hover {

}
.primary-button.medium,
.secondary-button.medium
{
  width: 50%;
}
.primary-button.large,
.secondary-button.large
{
  width: 100%;
}
.primary-button {
  color: var(--primary-foreground) ;
  background: var(--primary);
}
.secondary-button {
  color: var(--secundary-foreground) ;
  background: var(--secundary);
}

.f-end {
  justify-content: flex-end;
}

select {
  background: transparent;
}

app-dashboard {
  display: flex;
  height:100%;
  overflow: hidden;
}
.swal2-confirm  {
  background: var(--primary);
}
