@keyframes expand {
  from {
    height: 60px;
  }
  to {
    height: 150px;
  }
}
.save {
  width: 100px;
  align-self: flex-end;
}

.plan-details {
  display: flex;
  flex-direction: column;
  height: 60px;
  border: 1px solid #000000;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 10px 5px;
}
.detail-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: #686868;
  cursor: pointer;
  border-bottom: 2px solid #CCCCCC;
  padding-bottom: 5px;
}

.detail-item {
  padding: 5px 0;
  font-size: 15px;
  border-bottom: 1px solid #CCCCCC;
   span {
     color: #808080;
     font-weight: bold;
   }
}
.detail-item.last {
  border-bottom: none;
  padding-bottom: 0;
}

.opened {
  height: 150px !important;
}

.detail-expand {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;
}
