<div class="overlay">
  <div class="dialog">
    <div class="dialog-header">
      <i class="fi fi-rr-circle-xmark" (click)="onClose()"></i>
    </div>
    <div class="dialog-content">
      @if (!showVideo) {
        <div class="action">
          <input type="file" id="upload-movie" (change)="onVideoSelect($event)" accept="video/mp4, video/mkv, video/avi">
          <span class="upload-icon">
            <i class="fi fi-br-cloud-upload"></i>
            Enviar arquivos <br>
            <small>(.avi .mp4 .mkv)</small>
          </span>
        </div>
        <div class="action" (click)="openRecorder()">
          <span class="upload-icon">
            <i class="fi fi-rr-video-camera-alt"></i>
            Gravar vídeo
          </span>
        </div>
      } @else {
        <div class="video-container" #vContainer>
          <video [srcObject]="videoStream" [src]="videoUrl" #videoElement [autoplay]="autoplay">
          </video>
          <div class="video-overlay">
            @if (videoUrl) {
              <div class="timer-container">
                {{currentProgress}}/{{fullTimeString}}
              </div>
            }

            <div class="video-controls">
              @if (type.type == 'player') {
                <div class="controls-left">
                  <button (click)="playVideo(videoElement)">
                    @if (!playing) {
                      <i class="fi fi-br-play"></i>
                    } @else {
                      <i class="fi fi-rr-pause"></i>
                    }
                  </button>
                </div>
                <progress [value]="videoProgress" max="100"></progress>
                <div class="controls-right">
                  @if (!media.media) {
                    <button class="video-approve" (click)="onAprove()">
                      <i class="fi fi-br-check"></i>
                    </button>
                    <button class="video-close" (click)="onClose()">
                      <i class="fi fi-bs-cross"></i>
                    </button>
                  } @else {
                    <button class="video-close" (click)="removeVideo()">
                      <i class="fi fi-rr-trash"></i>
                    </button>
                  }
                </div>
              }
              @if (type.type == 'record') {
                <button class="action-rec" (click)="startStopRecording()">
                  @if (recording) {
                    <i class="fi fi-sr-stop"></i>
                  } @else {
                    <i class="fi fi-sr-rec"></i>
                  }
                </button>
                <button class="video-close" (click)="onClose()">
                  <i class="fi fi-bs-cross"></i>
                </button>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
