.container {
  width: 99%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  app-navbar {
    display: flex;
    height: 100%;
    width: 20%;
  }
  app-navbar.collapse {
    width: 75px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}
