.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  app-navbar {
    display: flex;
    height: 100%;
    width: 20%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
