@keyframes collapse-in{
  from {
      width: 20%;
  }
  to {
    width: 75px;
  }
}
@keyframes collapse-out {
  from {
    width: 75px;
  }
  to {
    width: 20%;
  }
}
.container-fluid {
  width: 99%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;

  app-navbar {
    display: flex;
    height: 100%;
    animation: collapse-out .5s;
  }
  app-navbar.collapse {
    width: 75px;
    animation: collapse-in 500ms;
  }
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}
